<h1>Stupid Coaching</h1>
<div class="banner-1">
  <p><%= @ask %></p>
  <p class="italic">-You</p>
 </div>
<div class="banner-2">
<p class="bold"><%= @answer %></p>
<p class="italic">-Your coach</p>
 </div>
<%= link_to "Ask a new question", ask_path %>
